demo/src/main/resources/hello-soap.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.flydubai.com/HelloSoap"
           xmlns="http://www.flydubai.com/HelloSoap"
           elementFormDefault="qualified">

    <xs:element name="helloSoapRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ClientName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="helloSoapResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Response" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
